@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/scss/default.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@keyframes animation1 {
  0% {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  }
  25% {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
  }
  75% {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

@keyframes animation3 {
  from {
    border-radius: 20px;
  }
  to {
    border-radius: 0
  }
}

@keyframes animation4 {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes animation5 {
  from {
    alignment: top;
  }
  to {
    alignment: center;
  }
}

.form-control {
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #49b6bf;
  text-align: left;
  -moz-transition: background-color 0.25s, border-bottom-color 0.25s;
  -o-transition: background-color 0.25s, border-bottom-color 0.25s;
  -webkit-transition: background-color 0.25s, border-bottom-color 0.25s;
  transition: background-color 0.25s, border-bottom-color 0.25s;
}

.form-control:hover {
  animation-name: animation3;
  animation-fill-mode: forwards;
  animation-duration: 0.75s;
  background-color: #ededed;
  border-bottom-color: #797979;
}

.title {
  text-align: center;
  font-size: xx-large;
  color: black;
}

#label {
  text-align: left;
}

#p {
  background-color: white;
  top: 50px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px grey;
  animation-name: animation1, zoomIn;
  animation-duration: 5s, 1s;
  animation-iteration-count: infinite, 1;
  font-family: Century Gothic, sans-serif;
  -moz-transition: background-color 0.75s;
  -o-transition: background-color 0.75s;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}

#p:hover {
  background-color: #ededed;
}

.webWrapper {
  animation-name: Gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.navBar {
  background-color: white;
  font-family: Century Gothic, sans-serif;
  font-size: 17px;
  height: 55px;
  width: 100%;
  margin: 0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  -moz-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.navBar:hover {
  background-color: #ededed;
}

.navText {
  -moz-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;

  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.navText:hover {
  font-size: 22px;
}

body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.wrapper {
  text-align: center;
  transform: translate(0%, 0%);
}

.buttonType1 {
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  height: 1000px;
  width: 1000px;
  max-width: 100%;
  max-height: 5%;
  text-decoration: none;
  display: block;
  font-size: 20px;
  -moz-transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
  -o-transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
  -webkit-transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
  transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;

  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.buttonType1:hover {

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.btn {

  margin: 20px;
  padding: 12px 100px;
  position: relative !important;
  display: block !important;
  color: white !important;
  font-size: 20px !important;
  text-decoration: none !important;
  border: 2px solid #ff7675 !important;
  overflow: hidden !important;
  transition: 1s all ease !important;
}

.btn::before {
  background: #ff7675 !important;
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: -1 !important;
  transition: all 0.6s ease !important;
}

.btn1::before {
  width: 100% !important;
  height: 0 !important;
  transform: translate(-50%, -50%) rotate(-45deg) !important;
}

.btn1:hover::before {
  height: 800% !important;
}

.middle {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

